html {
    min-height: 100%;
    background-image: url(/supercool/pics/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

._all {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    color: white;
    overflow-x: hidden;
}

.s_navbar {
    width: 100%;
    border: 0px;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;

}

.style {
    margin:0 auto;
    width: 75%;
    text-align:left;
    margin-left: 350px;
}

.a {
    text-decoration: none;
    color: red;
}

form {
    width: 550px;
    padding: 3px;
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

legend {
    width: 170px;
    padding: 3px;
    border: 1px solid white;
    margin: 170px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

#firstName {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#lastName {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#email {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.child {
    justify-content: center;
    text-align: center;
    display: inline-block;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.comment {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.sign {
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.si_gn {
    justify-content: center;
    text-align: center;
    display: inline-block;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: smaller;
}

.button {
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.last_line {
    font-size: medium;
    font-family: sans-serif;
}

.last {
    text-decoration: none;
    color: red;
    font-size: medium;
    font-family: sans-serif;
}
